{% load static %}
<!-- footer section-->
<footer class="container-fluid footer" id="footer">
    <!-- social media icons -->
    <div class="social-icons mt-4">
        <a href="https://github.com/laffer-ryan" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.linkedin.com/in/ryan-lafferty-63355964/" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.facebook.com/ryan.lafferty.75/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/prodigal_vagabonds/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="{% static 'images/my_resume.docx' %}" class="resume-link" download>
            RESUME
        </a>
    </div>
</footer>
